.product-options-bottom .price-box .old-price, .product-info-price .price-box .old-price{
    text-decoration: line-through;
    color: red;
}

.custom_wishlist{
    position: absolute;
    top: 284px;
    left: 98px;
    z-index: 1;
}